body {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  background-color: var(--background-color);
}

.container {
  width: 1200px;
}

:root {
  --brand-color: #212121;
  --gray-color: #757575;
  --blue-color: #2196f3;
  --gray-btn-color: #f5f4fa;
  --background-color: #ffffff;
  --background-footer: #2f303a;
  --border-color: #eeeeee;
  --border-btm: #ececec;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*-- Шапка сторінки -*/
.header {
  background: var(--background-color);
  border-bottom: 1px solid var(--border-btm);
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0px;
  height: 80px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0px;
}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 215px;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*-- Лого --*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
  margin-right: 90px;
  margin-left: 215px;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-header {
  color: var(--brand-color);
}

/*-- Навігація на інші сторінки --*/

.nav-item {
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--brand-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue-color);
}

/*-- Посилання на соцмережі --*/

.contact-item {
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--blue-color);
}

/*-- Головна Сторінки--*/

.hero {
  width: 1200px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #2f303a;
}

.section-features {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 94px;
}

.section-what-we-do {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 94px;
}

.section-our-team {
  width: 1200px;
  height: 648px;
  display: flex;
  align-items: center;
  flex-direction: column;

  background: var(--gray-btn-color);
}

/*-- Шапка --*/

.hero-title {
  width: 696px;
  height: 120px;
  left: calc(50% - 696px / 2);
  top: calc(50% - 120px / 2 - 833px);

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: var(--blue-color);
  cursor: pointer;
  padding: 10px 30px;
  border: 0px;
  margin-bottom: 200px;
}

/*-- Особливості --*/

.section-features-title {
}

.section-features-list {
  height: 98px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 30px;
}

.section-features-item {
  display: block;
  margin-right: 30px;
}

.section-features-list-titel {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features-list-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*-- Чим ми займаємося --*/

.section-what-we-do-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.section-what-we-do-list {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0px;
}

.section-what-we-do-item {
  display: block;
  margin-right: 30px;
}

/*-- Наша команда --*/

.section-our-team-titel {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
}

.section-our-team-list {
  display: flex;
  align-items: flex-start;
  padding: 0px;
}

.section-our-team-item {
  margin-right: 30px;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*-- Підвал сторінки --*/
.footer {
  width: 1200px;
  height: 252px;
  left: 0px;
  top: 2094px;
  background: var(--background-footer);
}

.footer-logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
  padding-left: 215px;
  display: block;
  padding-top: 60px;
  margin-bottom: 25px;
}

.footer-logo {
  color: var(--background-color);
}

.footer-contact-list {
  display: block;
  padding-left: 215px;
  margin: 0px;
}

.footer-contact-item {
}

.footer-contact-adress {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-contact-adress:hover,
:focus {
  color: var(--blue-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.footer-contact-link:hover,
:focus {
  color: var(--blue-color);
}

/*-- Портфоліо --*/
.portfolio {
  width: 1600px;
  margin: 0px;
  display: flex;
}

.section-portfolio {
}

/*-- Фільтри --*/
.section-portfolio-filter-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 94px;
}

.section-portfolio-filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background: var(--gray-btn-color);
  border-radius: 4px;
  cursor: pointer;
  width: 112px;
  height: 38px;
  left: 726px;
  top: 168px;

  background: #f5f4fa;
  border-radius: 4px;
}

.section-portfolio-filter-btn:hover,
:focus {
  background: var(--blue-color);
}

/*-- Проекти --*/
.section-portfolio-list {
  justify-content: space-between;
}
.section-portfolio-item {
  box-sizing: border-box;

  width: 370px;
  height: 404px;
  border-bottom: 1px solid var(--border-color);
}

.section-portfolio-item-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.section-portfolio-item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
